<section>
    <div class="row">
        <div class="col-3">
            <form onsubmit="app.GiftsController.CreateGift()">
                <h2>Big Santa Energy</h2>
                <div>
                    <label for="tag">Tag</label>
                    <input type="text" name="tag" id="tag">
                </div>
                <div>
                    <label for="url">Url</label>
                    <input type="url" name="url" id="tag">
                </div>
                <button>Submit</button>
            </form>
        </div>

        <div class="col-9">
            <div id="gifts-display" class="row">

                <!-- <div class="col-4">
                    <div class="card p-1 shadow">
                        <img class="p-1" src="https://img.freepik.com/free-psd/isolated-cardboard-box_125540-1169.jpg"
                            alt="" class="card-img">
                        <div class="card-text text-center py-1">This is the Gift</div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</section>